<html>
<head>
  <title>To Do List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <script src="app.js"></script>
  <script src="mainController.js"></script>
</head>
<body class="container text-center" ng-app="toDoList" ng-controller="mainController">
  <h1 style="font-family: 'Dancing Script', cursive; font-size: 48px;">My Todo List</h1>
  <h4>Made with love by Sachin Karia</h4>

  <hr>

  <form ng-hide = "editable" class="form-inline">
    <div class="form-group">
      <input class="form-control" style="min-width:300px;" placeholder="Buy some more coffee..." type="text" ng-model="descriptionText"/>
      <button class="btn btn-primary" ng-click="addTodo()">   Add Task   </button>
    </div>
  </form>

  <form ng-show="editable" class="form-inline">
    <div class="form-group">
      <input class="form-control" style="min-width:300px;" ng-model="existingTodo.description" type="text" ng-model="descriptionText"/>
      <button class="btn btn-primary" ng-click="saveTodo()">Save</button>
    </div>
  </form>

  <hr>

  <div class="table table-responsive" ng-show="showList">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Task Description</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="todo in todoList">
          <td>{{ todo.description }}</td>
          <td>{{ todo.created | date }}</td>
          <td>  <button class="btn btn-success" ng-click="removeTodo(todo)">Completed!</button>
          <button class="btn btn-default" ng-click="editTodo(todo)">Edit!</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>
